extends layout
block content
  .jumbotron
    h1.display-3 #{title}
    p
    p
      a.btn.btn-primary.btn-lg(href='/users/register', role='button') Register »

  br
  hr
  footer
    p Copyright &copy, 2018
