extends layout


block content
  .container
    br
    h1 Login
    form(method='POST', action='/users/login')
      #form-group
        label Username:
        input.form-control(name='username',type='text',placeholder="Username",required="",autofocus="")
      #form-group
        label Password:
        input.form-control(name='password',type='password',placeholder="Password",required="")
      br
      input.btn.btn-primary(type='submit',value='Submit')
    br
    a.btn.btn-primary(href='/users/register', role='button') New User? Register

