extends layout

block content
  .container
    br
    h1 Register
    form(method='POST', action='/users/register')
      #form-group
        label Name:
        input.form-control(name='name', type='text')
      #form-group
        label Email:
        input.form-control(name='email', type='text')
      #form-group
        label Username:
        input.form-control(name='username',type='text')
      #from-group
        label Age:
        input.form-control(name='age',type='text')
      #form-group
        label(for='exampleFormControlSelect1') Profession
        select#exampleFormControlSelect1.form-control(name='profession')
          option(value='Engineer') Engineer
          option(value='Teacher') Teacher
          option(value='Lawyer') Lawyer
          option(value='Docter') Docter
          option(value='Actor') Actor
          option(value='Farmer') Farmer
      #form-group
        label Password:
        input.form-control(name='password',type='password')
      #form-group
        label Confirm:
        input.form-control(name='password2',type='password')
      br
      input.btn.btn-primary(type='submit',value='Submit')
    
